<section class="registration-form">
  <div class="registration-form__header">
    <!-- <h3>Register a location</h3>
    <p>Models `katana location add -f location.json` for VIM placement coverage.</p> -->
  </div>

  <form class="registration-form__grid" [formGroup]="form">
    <label
      ><span>Location ID</span><input type="text" formControlName="id" placeholder="group0_edge"
    /></label>
    <label
      ><span>Description</span
      ><input type="text" formControlName="description" placeholder="Group 0 Edge location"
    /></label>
    <button type="submit">Create location payload</button>
  </form>
</section>
